@model StructuredDebate.Models.TagRelation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TagRelation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.Claim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Claim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TagRelationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
