@model IEnumerable<StructuredDebate.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Index.css" type="text/css" rel="stylesheet" />

<h2>Structured Debate</h2>

<p class="header">
    Welcome to Structured Debate!  We strive to foster a community that welcomes civil, fact-based debate over controversial (and sometimes just fun) topics such as politics, religion, conspiracies, and pop culture.  Please take the time to read the culture guide before posting.  Thank you for visiting, and enjoy!
</p>

@foreach (var item in Model)
{
    
    <div class="vote-container">
        <div class="upvote">
            @Ajax.ActionLink("Upvote", "Vote", new { id = item.PostID, upOrDown = "Up" }, new AjaxOptions { HttpMethod="Post", InsertionMode=InsertionMode.Replace, UpdateTargetId="score"+item.PostID.ToString() })
        </div>
        <div id="@("score"+item.PostID.ToString())">
            @item.Score
        </div>
        <div class="downvote">
            @Ajax.ActionLink("Downvote", "Vote", new { id = item.PostID, upOrDown = "Down" }, new AjaxOptions { HttpMethod="Post", InsertionMode=InsertionMode.Replace, UpdateTargetId="score"+item.PostID.ToString() })
        </div>
    </div>

    <div class="claim-container">
        <h3 class="claim">
            @Html.ActionLink(@item.Claim, "Details", new { id = @item.PostID }, new {@class="claim-link" })
        </h3>
        <p class="opening-statement">
            @item.OpeningStatement
        </p>
    </div>


}
