@model StructuredDebate.Models.CrossExamination

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CrossExamination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Argument.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Argument.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CrossExaminationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
